pkgbase = mu-editor
	pkgdesc = A simple Python editor for beginner programmers
	pkgver = 1.1.1
	pkgrel = 1
	url = https://codewith.mu/
	arch = any
	license = GPL3
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-random-order
	checkdepends = python-pytest-timeout
	checkdepends = python-coverage
	makedepends = python-setuptools
	depends = python-pyqt5
	depends = python-qscintilla-qt5
	depends = python-pyqt5-chart
	depends = python-jupyter_client
	depends = python-ipykernel
	depends = python-ipython-genutils
	depends = python-qtconsole
	depends = python-adafruit-board-toolkit
	depends = python-pyserial
	depends = python-nudatus
	depends = flake8
	depends = python-click
	depends = python-black
	depends = python-platformdirs
	depends = python-semver
	depends = python-virtualenv
	depends = python-wheel
	depends = python-requests
	optdepends = scrapy
	optdepends = python-beautifulsoup4
	source = https://github.com/mu-editor/mu/archive/refs/tags/v1.1.1.tar.gz
	source = mu-editor.desktop
	sha256sums = 6ea06d09ba0ed15a2bdd87b62ad1c18a0b1edc7000956209720fcc4ad290458e
	sha256sums = 4a47b1f100a2a77018bae2422cee7bfe2cbea4c9412de1abf646c2fa7a63b62e

pkgname = mu-editor
